.logo {
    margin-left: 10%;
}

.logo-text {
    color: white;
    padding-right: 10%;
}

.nav-space {
    padding: 0 .5%;
}

@media (max-width: 992px) {
    .nav-space {
        display: none;
    }
}